html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #056e8b; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0b566b;
  border-radius: 3px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0b566b; 
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background: #545151;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.search {
  display: flex;
  min-height: 0;
  flex-direction: column;
  justify-content: center;

  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
}



.page.is-visible .search {
  flex-basis: 100px;
}

/* Animation */
.search {
  transition: flex-basis 0.5s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  will-change: flex-basis;
}

.page.is-visible  .search {
  transition: flex-basis 0.8s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
.row {
  padding: 50px;
  display: flex;
  justify-content: center;
}
/* Button */
.btn {
  border: none;
  color: white;
  background-color: #056e8b;
  border-radius: 4px;
  padding: 7px 12px;
  font-size: 18px;
  cursor: pointer;
}
/* INPUT */
input {
    width: 50%;
    font-size: 18px;
    padding: 7px;
    border-radius: 4px;
    border: none;
    margin-right: 10px;
}
input:focus::-webkit-input-placeholder {
    opacity: 0;
}
@media screen and (max-width: 480px) {
  .row {
    padding: 25px;
  }
  input {
    width: 100%;
  }
}
/*  GALLERY */
.gallery {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
  
    height: calc(100% - 100px);

    background-color: #056e8b;
    padding: 10px 0;
    overflow-x: auto;
  }

.gallery__items {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.gallery__item {
    width: calc(33.3% - 8px);
    margin: 0 4px 8px;
    height: 100%;
    overflow: hidden;
    height: 250px;
    cursor: pointer;
}
@media screen and (max-width: 991px) {
  .gallery__item {
    width: calc(50% - 8px);
  }
}
@media screen and (max-width: 480px) {
  .gallery__item {
    width: 100%;
  }
}

.gallery__image {
    min-height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}

/* MODAL */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main {
    position:fixed;
    background: white;
    width: 80%;

    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media screen and (max-width: 480px) {
    .modal-main {
      height: 250px;
    }
  }

  .modal-main button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    font-size: 20px;
    line-height: 0.7em;
    cursor: pointer;
    color: white;
    background-color: #056e8b;
    border-radius: 4px;
    padding: 7px 12px;
  }

  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }

  .no-results p {
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    color: white;
  }


  .loader,
  .loader:before,
  .loader:after {
    border-radius: 50%;
  }
  .loader {
    color: #ffffff;
    font-size: 11px;
    text-indent: -99999em;
    margin: 55px auto;
    position: relative;
    width: 10em;
    height: 10em;
    box-shadow: inset 0 0 0 1em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  .loader:before,
  .loader:after {
    position: absolute;
    content: '';
  }
  .loader:before {
    width: 5.2em;
    height: 10.2em;
    background: #056e8b;
    border-radius: 10.2em 0 0 10.2em;
    top: -0.1em;
    left: -0.1em;
    -webkit-transform-origin: 5.2em 5.1em;
    transform-origin: 5.2em 5.1em;
    -webkit-animation: load2 2s infinite ease 1.5s;
    animation: load2 2s infinite ease 1.5s;
  }
  .loader:after {
    width: 5.2em;
    height: 10.2em;
    background: #056e8b;
    border-radius: 0 10.2em 10.2em 0;
    top: -0.1em;
    left: 5.1em;
    -webkit-transform-origin: 0px 5.1em;
    transform-origin: 0px 5.1em;
    -webkit-animation: load2 2s infinite ease;
    animation: load2 2s infinite ease;
  }
  @-webkit-keyframes load2 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load2 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .loader--dark {
    color: #056e8b;
  }
  .loader--dark::before,
  .loader--dark::after {
    background: white;
  }  